extends template

block content
  // Ellie Parobek
  // Home page
  div.container
    ol
      each result in content.watchListItems
        form(method='post', action='/delete')
          input(name='title' href='/info' readonly value=result.content)
          input(name='id' href='/info' readonly class='hidden' value=result.id)
          input(type='submit' id='deleteButton' value='Delete From WatchList' class='waves-effect btn red darken-2')