extends template

block content
  // Ellie Parobek
  // Home page
  div.container
    ol
      each result in content.watchListItems
        form(method='post', action='/delete')
          input(name='title' readonly value=result.content)
          input(class='hidden' name='itemId' value=result.id)
          input(type='submit' id='deleteButton' value='Delete From WatchList' class='waves-effect btn red darken-2')