extends template

block content
  // Ellie Parobek
  // Information page
  div.main
    p(name='info') #{result.Title} - #{result.Year} &ensp;
    p(name='plot') #{result.Plot}
    img(href=#{result.Poster})