extends template

block content
  // Ellie Parobek
  // Search page
  div.main
    form(method='post', action='/submit-form')
      input(type='text', placeholder='Search', name='search')
      input(type='submit' id='searchButton')
  div.results
    each result in search
      div.result
        h2.result-name
          | #{result.Title} #{result.Year}