// Ellie Parobek
// Search page
extends template

block content
  div.main
    input(type='text', placeholder='Search')
    a(class='button' href='/search/') Search
  div.results
    each result in search
      div.result
        h2.result-name
          | #{result.title} #{result.year}