extends template

block content
  // Ellie Parobek
  // Search page
  div.main
    input(type='text', placeholder='Search', id='searchBar')
    button(type='button', placeholder='Go', onclick='go()')
  div.results
    each result in search
      div.result
        h2.result-name
          | #{result.title} #{result.year}