doctype html
html
  // Ellie Parobek
  // Template File to use for all other views
  head
    title #{title}
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/css.css')
    script(href='/js/materialize.js')
    script(href='/js/script.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        div(class='nav-wrapper' id='navigation')
          ul(class='right')
            li
              a(href="/") Your WatchList
            li
              a(href="/search") Search
            li
              a(href="https://github.com/arp6333/ISTE432-FinalProject") GitHub
        h3 #{title}
      block content