doctype html
html
  // Ellie Parobek
  // Template File to use for all other views
  head
    title #{title}
    link(rel='stylesheet', href='/css/materialize.css')
    link(rel='stylesheet', href='/css/css.css')
    script(href='/js/materialize.js')
    script(href='/js/script.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 #{title}
      block content