body{
    margin:20px;
}

p{
    font-size: 24px;
}

#navigation li{
    font-size: 42px;
}

#navigation a{
    color: lightcoral;
    padding: 10px;
}

#navigation a:hover{
    color: coral;
}

#results{
    display: flex;
    vertical-align: middle;
}

form{
    display: flex;
    vertical-align: middle;
}

form input{
    margin-bottom: 50px;
    max-width: 300px;
    text-align: center;
    margin-left: 30px;
}

.addButton{
    width: 350px!important;
}

.short{
    max-width: 100px!important;
}

.hidden{
    display: none!important;
}

#info{
    text-align: center;
}

#titleInfo{
    text-align: center;
    font-size: 36px;
    color: darkslateblue;
}

.image-block img{
    float: left;
    padding-right: 20px;
    max-height: 500px;
}

#plot{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center left;
    font-size: 24px;
}

.info li{
    font-size: 24px;
    margin-left: 80px;
}

h4{
    font-size: 28px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}